$vh-nav: calc(100vh - 64px);

* {
	padding: 0;
	margin: 0;
}

body { 
	font-family: Helvetica, Arial, sans-serif;
	color: #240D57;
}

a {
	text-decoration: none;
}

.navbar {
	position: sticky;
	width: 100%;
	top: 0;
	background-color: white;
	box-sizing: border-box;
	height: 64px;
	padding: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 0px 25px -10px rgb(0 0 0 / 10%);
	
	.logo {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 32px;
		font-weight: bold;
		background: -webkit-linear-gradient(180deg,#8361ff 1.74%,#e87bf8);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		
		img {
			max-width: 36px;
			border-radius: 50%;
		}
	}
	
	.login-signup {
		height: 36px;
		background: linear-gradient(95.6deg,#8361ff 1.74%,#e87bf8);;
		box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
		--tw-shadow: 0 0 5px rgba(0,0,0,.6);
    --tw-shadow-colored: 0 0 5px var(--tw-shadow-color);
	}
	
	.login-signup:hover {
		opacity: .75;
	}
}

button {
	font-weight: bold;
	color: white;
	border: none;
	padding: 6px 24px;
	border-radius: 10px;
	font-size: 100%;
	cursor: pointer;
	white-space: nowrap;
}

#container {
	height: $vh-nav;
}

.landing {
	background: linear-gradient(270deg,#e9dfff -43.12%,#fff 121.3%);
	line-height: 64px;
}

.landing-container {
	padding-right: 96px;
}

.container {
	column-gap: 2rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1536px;
	margin: 0 auto;
	padding: 64px 16px;
	height: $vh-nav;
	
	p {
		margin: 0;
	}
	
	
	button {
		max-width: 327px;
	}
}

.subheading {
	text-align: right;
	margin-bottom: 48px;
	font-size: 1.875rem;
	line-height: 2.25rem;
}


.screenshot-container {
	flex: 1 1 0;
	display: inline-flex;
	justify-content: center;
	width: 100%;
	// height: 100%;
	max-height: 100%; 
	// text-align: center;
	// max-width: 640px;
	margin: 0 auto;
}

.screenshot {
	height: 100%;
	max-height: 1015px;
	width: auto;
	max-width: 100%;
	object-fit: contain;
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,.2);
	border: none;
	border-radius: 2.1vh;
}

.primary-text {
	margin-bottom: 32px;
	font-size: 60px;
	font-weight: bold;
	text-align: right;
}

.content {
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	max-width: 50%;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.typed {
	background: -webkit-linear-gradient(0deg, #8456EC 50%, #E87BF8
	100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-button {
	background: linear-gradient(90deg,#501fc1,#c245d3,#f0567a);
	background-size: 400% 400%;
	font-size: 1.125rem;
	line-height: 1.75rem;
	padding: 1rem 5rem;
	animation: change 10s ease-in-out infinite;
}

.create {
	padding: 64px 16px;
	max-width: 1536px;
	margin: 0 auto;
	height: $vh-nav;
}

.top-bar {
	display: flex;
	justify-content: space-between;
}

.create-event {
	margin-top: 16px;
	padding-bottom: 16px;
	h1 {
		font-size: 48px;
	}
}

.event-form {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 742px;

	p	{
		margin: 24px 0 8px;
		font-size: 16px;
		font-weight: bold;
	}

	input {
		background-color: #F2F2F2;
		border: none;
		border-radius: 10px;
		height: 60px;
		width: 100%;
	}
}

.optional {
	color: rgb(130 130 130);
	font-weight: 100;
}

.side-by-side {
	display: flex;
	justify-content: space-between;
}

.image-placeholder {
	margin-top: 67px;
	height: 550px;
	width: 550px;
	background-image: url('./images/party.png');
	background-size: contain;
	background-position: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.choose-photo {
	display: flex;
	flex-direction: column;
}

.create-button {
	margin-top: 4em !important;
	display: flex;
	margin: 0 auto;
}

.event {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	height: $vh-nav;
}

.event-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.event-image {
	height: 550px;
	width: 550px;
	background-image: url('./images/cake.png');
	background-position: center;
	background-size: contain;
}

.event-desc {
	h1 {
		font-size: 48px;
		margin-bottom: 8px;
	}

}

.greyed {
	color: #828282;
}

.details {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.detail {
	display: flex;
	align-items: center;
	gap: 1em;
}

@keyframes change {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.ipad-sc-contain, .ipad-sc {
	display: none;
}

@media only screen and (max-width: 1024px) {
	.container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-height: $vh-nav;
	}

	.primary-text, .subheading {
		text-align: center;
	}

	.content-container {
		align-items: center;
	}

	.landing-container {
		padding-right: 0;
	}

	.ipad-sc-contain, .ipad-sc {
		display: flex;
	}

	.desktop {
		display: none;
	}

	.screenshot {
		max-height: 548px;
	}

	#landing-button {
		margin-top: 53px;
	}

	.create-event {
		h1 {
			text-align: center;
		}
	}

	.side-by-side {
		flex-direction: column-reverse;
		align-items: center;
	}

	.create-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 742px;
		margin-top: 52px !important;
	}
}